#notification-center{
  background: var(--system-background);
  border-radius: var(--system-border) 0px 0px var(--system-border) !important;
}

.img-mute{
  background: rgba(255,255,255,.3);
  border-radius: var(--system-border);
  padding: 1px;
  height: 20px;
}

#status-area{
  margin-top: auto;
}